// Place all the styles related to the Softwares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom_components/responsive_list";
@import "custom_components/checkbox";

.list-toolbar{
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row-reverse;
}

.show-header{
  display: flex;

  .right-column{
    padding: 10px;
    padding-top: inherit;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .editor{
    width: 40%;
  }

  select{
    width: 80%;
    display: inline-block;
  }

  a{
    margin: 10px;
    display: flex;
    align-self: flex-end;
  }

  label{
    padding-right: 10px;
  }
}

.version-header{
  display: flex;
  flex-wrap: nowrap;

  #version-name{
    padding-left: 10px;
  }
}

.os-icon{
  padding-left: 15px;
  display: inline;
}

.link-buttons{
  margin-left: 100px;
}

#dl-link #doc-link{
  .disabled{
    pointer-events: inherit;
    cursor: not-allowed;
  }
}

.external-link{
  .disabled{
    pointer-events: inherit;
    cursor: not-allowed;
  }
}
