// Place all the styles related to the Softwares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom_components/responsive_list";
@import "custom_components/checkbox";

.list-toolbar{
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row-reverse;
}


