<%= form_with(model: pc, local: true) do |form| %>
  <% if pc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pc.errors.count, "error") %> prohibited this pc from being saved:</h2>

      <ul>
      <% pc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
