<div class="container-fluid">
  <%= link_to 'Back', software_path(@software), method: :get, class: "btn btn-primary" %>

  <h1>Editing Version</h1>

  <%= render 'form', version: @version %>

  <%= link_to 'Show', @version %> |
</div>
