<div class="container-fluid">

  <%= link_to 'Back', softwares_path, class: "btn btn-primary" %>

  <div class="row content text-center">
    <div class="col-sm-8 text-left">

      <h1>New Software</h1>
      <%= render 'form' %>

    </div>
  </div>
</div>
