<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-8 text-left">

      <h1>New Software</h1>
      <%= render 'form' %>
      <%= link_to 'Back', softwares_path %>

    </div>
  </div>
</div>